<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkyGuide.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <SkyGuide.Properties.Settings>
            <setting name="RowsColumns" serializeAs="String">
                <value>10,4</value>
            </setting>
            <setting name="ImageFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PostInfoWindowWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="PostInfoWindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="PostInfoWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="StatusFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </SkyGuide.Properties.Settings>
    </userSettings>
</configuration>